/* eslint-disable */
<template>

  <div class="form-add">

    <h1>Изменить/Задублировать</h1>
        <div class="former">

      <div id="avitoForm">
          <span>
            <h3>Заголовок</h3>
            <input type="text" :placeholder="'Майн майнер S9'" v-model="formData['Title']">
          </span>

  <upload></upload>
        <div>
          <h3>Загруженные изображения</h3>
          <hr>
          <div v-for="i in formData.Images.length" :key="i">
            <input type="text" v-model="formData.Images[i-1]">
            <img style="width: 300px; max-width: 100%" :src="'images/' + formData.Images[i-1]">
            <input type="file" v-on:change="fileInput($event, i)">
          </div>
          <button @click="addText" type="button" style="width:100%;">ЕЩЕ ИЗОБРАЖЕНИЕ</button>
        </div>

        <div class="inputDiv">
          <span><br>
          <h3 >Описание</h3>
            <textarea @click="wzvig" type="text" v-model="formData['Description']" required></textarea>
          </span>
          <span>
            <br>
          <h3>Категория</h3>
           <select v-model="formData['Category']" required>
             <option value="Настольные компьютеры">Настольные компьютеры</option>
           </select>
          </span>
          
          <span><br>
            
            <h3>Регион</h3>
           <select v-model="formData['Region']" required>
             <option value="Санкт-Петербург">Санкт-Петербург</option>
             <option value="Москва">Москва</option>
           </select>
           


          </span>

          <span><br>
                  <h3>Метро</h3>
           <select v-model="formData['Subway']" required>
             <option value="Лесная">Лесная</option>
             <option value="Чёрная речка">Чёрная речка</option>
             <option value="Старая деревня">Старая деревня</option>
           </select>
           


          </span>
           <span ><br>
          <h3>Публикация</h3>
      <datetime type="datetime" v-model="formData['DateBegin']" style="width:100%;"></datetime>
          </span>

<br>

          <span>
            <h3>Снятие</h3>
                 <datetime type="datetime" v-model="formData['DateEnd']" style="width:100%;"></datetime>
          </span> 

          <!-- <span v-else>
            <h3>{{name}}</h3>
            <input type="text" :placeholder="name" v-model="formData[name]">
          </span> -->


        </div>
        <div>
          <h3>Цена</h3>
          <select type="Number" v-model="formData['Price']">

              <option v-for="i in prices.length" :key="i"  v-bind:value="prices[i-1].name">{{prices[i-1].name}}: {{prices[i-1].value}}</option>

          </select>
        </div>
        

      </div>
      <button type="button" @click="addItem">Сохранить как новый</button>
      <button type="button" @click="editItem">Изменить этот</button>
</div>
    </div>
</template>

<script>
import { Datetime } from "vue-datetime";
import swal from "sweetalert";
import config from "@/config";
import upload from "@/components/upload";

export default {
  name: "editad",
  components: {
    upload
  },
  beforeMount() {
    const auth = this.$cookies.get("auth");
    if (auth == undefined) {
      this.$router.push("/login");
    } else {
      this.adId = this.$route.query.id;
      this.$http.get(config.apiUrl + "/ad/" + this.adId).then(response => {
          console.log(response.data);
          this.$http.get(config.apiUrl + "/prices").then(
          res => {
            console.log(res.data);
            this.prices = res.data
          }
          
        )
          this.formData = response.data;
          this.formData.userId = this.$cookies.get("auth");
      });
    }
  },
  mounted() {
    this.$eventHub.$on('imgUploaded', this.addUploaded)
  },
  data() {
    return {
      adId: "",
      struct: {},
      prices: [],
      formData: {
        Images: [""],
        userId: "234234"
      }
    };
  },
  methods: {
        addUploaded: function(imgs) {
      console.log("worked");
      console.log(imgs)
      for (var i = 0 ; i < imgs.length; i++) {
        this.formData.Images.push(imgs[i])
      }
    },
    addText: function() {
      this.formData.Images.push("");
    },
    addItem: function() {
      var desc = $("textarea").val();
      this.formData.Description = desc;
      console.log(desc);
      delete this.formData["_id"];
      console.log(this.formData);
      this.$http.post(config.apiUrl + "/ad", this.formData).then(response => {
        swal("Добавлено!");
      });
    },
    editItem: function() {
      var desc = $("textarea").val();
      this.formData.Description = desc;
      console.log(desc);

      console.log(this.formData);
      this.$http
        .put(config.apiUrl + "/ad/" + this.adId, this.formData)
        .then(response => {
          swal("Изменено.");
        });
    },
    wzvig: function() {
      $("textarea").froalaEditor();
    }
  }
};
</script>


<style scoped>
.form-add {
  text-align: center;
  width: 100%;
}
.former {
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
#avitoForm {
  width: 100%;
  max-width: 500px;
}
input,
textarea,
select {
  width: 100% !important;
}
input,
select {
  height: 30px;
  padding: 3px;
  border-radius: 5px;
}

.inputDiv {
  width: 100%;
  margin-bottom: 40px;
}
</style>
