
<template>
<div id="header">
  <nav>
    <a href="/#/prices" target="_blank">Цены</a>
    <a href="/#/add">Новый товар</a>
    <a href="/" target="_blank">Список товаров</a>
    <a :href="apiLink" target="_blank">XML</a>
    <a @click="logout">Выход</a>
  </nav>
</div>
  
</template>

<script>
/* eslint-disable */
import config from "@/config";

export default {
  name: "Header",
  data() {
    return {
      apiLink: config.apiUrl + "/ads-xlm/" + this.$cookies.get("auth")
    };
  },
  methods: {
    logout: function() {
      console.log("Logout");
      this.$cookies.remove("auth");
      this.$router.push("/login");
    }
  }
};
</script>


<style>
#header {
  position: fixed;
  padding-top: 25px;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  color: white;
}
#header a {
  padding: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none !important;
  color: white !important;
}
</style>
