<template lang="pug">

body.text-center
  form.form-signin(_lpchecked='1')
    label.sr-only(for='inputEmail') Email
    input#inputEmail.form-control(v-model="loginForm.email", type='email', placeholder='Email', required='', autofocus='',)
    label.sr-only(for='inputPassword') Пароль
    input#inputPassword.form-control(v-model="loginForm.password", type='password', placeholder='Пароль', required='')
    button.btn.btn-lg.btn-primary.btn-block.btn-cu-bg(@click="login($event)") Вход
    p.mt-5.mb-3.text-muted © 2017-2018

</template>

<script>
import config from "@/config.js";
import swal from "sweetalert";

export default {
  name: "login",
  data() {
    return {
      loginForm: { email: "", password: "" }
    };
  },
  methods: {
    login: function(event) {
      event.preventDefault();

      this.$http
        .post(config.baseAPI + config.login, this.loginForm)
        .then(response => {
          var user = response.data.user;
          if (!!user) {
            this.$cookies.set("auth", user._id);
            location.href = "/";
            // swal(response.data.response).then(value => {

            // });
          } else {
            swal(response.data.response);
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
html,
body {
  height: 100vh !important;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
