
<template>
<div>
<table id="myTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in prices" :id="item._id">
      <td>{{item.name}}</td>
      <td><input v-model="item.value"></td>
      <td>
        <a @click="deleteItem($event, item._id)"><i class="fa fa-trash-o"></i></a>
        <a @click="newPrice(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>

</table>
<form v-on:submit.prevent="addPrice">
  <input type="text" v-model="form.name">
  <input type="Number" v-model="form.value">
  <button type="button" @click="addPrice"> Добавить </button>
</form>
</div>
  
</template>

<script>
/* eslint-disable */
import config from "@/config";
import swal from "sweetalert";

export default {
  name: "prices",
  beforeCreate() {
        const auth = this.$cookies.get("auth");
    if (auth == undefined) {
      this.$router.push("/login");
    } else { 
    this.$http.get(config.apiUrl + "/prices").then(
      res => {
        this.prices = res.data
      }
    )}
  },
  data() {
    return {
      prices: [],
      deleteLink: config.apiUrl + "/deletePrice?id=",
      form: {
        name: '',
        string: ''
      }
    };
  },
  methods: {
    
    addPrice: function() {
      this.$http.post(config.apiUrl + "/prices", this.form).then(
        res => {
          location.reload()
        }
      )
    },
    deleteItem: function(event, id) {
      swal("Удалить этот, точно?").then(v => {
        if (v) {
          this.$http.delete(this.deleteLink + id).then(response => {
            if (response.data == "deleted") {
              $("#" + id).hide();
            }
          });
        }
      });
    },
    newPrice: function(item) {
        this.$http.put(config.apiUrl + "/price", {id: item._id, price: item.value}).then(response => {
            location.reload();
          });

      // this.$router.push({ path: "editPrice", query: { id: id } });
    }
  }
};
</script>


<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
td i {
  font-size: 24px;
  margin-right: 24px;
}
</style>
