<template>
  <div class="container" style="border: 2px solid black;">
    <div class="large-12 medium-12 small-12 cell">
      <label>Загрузка изобращений
        <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
      </label>
    </div>
    <div class="large-12 medium-12 small-12 cell">
      <div v-for="(file, key) in files" :key=key class="file-listing">{{ file.name }} <span class="remove-file" v-on:click="removeFile( key )">Удалить</span></div>
    </div>
    <br>
    <div class="large-12 medium-12 small-12 cell">
      <button v-on:click="addFiles()" style="width:100%">Выбрать</button>
    </div>
    <br>
    <div class="large-12 medium-12 small-12 cell">
      <button v-on:click="submitFiles()" style="width:100%; margin-bottom: 30px;">Загрузить</button>
    </div>
  </div>
</template>

<style>
  input[type="file"]{
    position: absolute;
    top: -500px;
  }

  div.file-listing{
    width: 200px;
  }

  span.remove-file{
    color: red;
    cursor: pointer;
    float: right;
  }
</style>

<script>
import config from "@/config";

  export default {
      name: "upload",
    data(){
      return {
        apiLink: config.apiUrl + '/upload',
        files: []
      }
    },

    methods: {
      addFiles(){
        this.$refs.files.click();
      },

      submitFiles(){
          var self = this;
        let formData = new FormData();
        for( var i = 0; i < this.files.length; i++ ){
          let file = this.files[i];
          formData.append('files[' + i + ']', file);
        }
        formData.append('title', 'lol')
        this.$http.post(this.apiLink,
          formData,
          {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
          }
        ).then(function(resp){
            console.log(resp.data.imgs)
          self.$eventHub.$emit("imgUploaded", resp.data.imgs)
          self.files = []
        })
        .catch(function(){
          self.$eventHub.$emit("uplFailed")
        });
      },
      handleFilesUpload(){
        let uploadedFiles = this.$refs.files.files;

        for( var i = 0; i < uploadedFiles.length; i++ ){
          this.files.push( uploadedFiles[i] );
        }
      },
      removeFile( key ){
        this.files.splice( key, 1 );
      }
    }
  }
</script>