
<template>
<div>
<table id="myTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Стоимость</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in items" :id="item._id">
      <td>{{item._id}}</td>
      <td>{{item.Title}}</td>
      <td>{{item.Price}}</td>
      <td>
        <a @click="deleteItem($event, item._id)"><i class="fa fa-trash-o"></i></a>
        <a @click="editAd(item._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>

</table>

</div>
  
</template>

<script>
/* eslint-disable */
import config from "@/config";
import swal from "sweetalert";

export default {
  name: "Table",
  beforeCreate() {
    const auth = this.$cookies.get("auth");
    if (auth == undefined) {
      this.$router.push("/login");
    } else {
      this.$http.get(config.apiUrl).then(response => {
        this.items = response.data;
        console.log(this.items);
      });
    }
  },
  data() {
    return {
      items: [],
      deleteLink: config.apiUrl + "/deleteAd?id="
    };
  },
  methods: {
    deleteItem: function(event, id) {
      swal("Удалить этот, точно?").then(() => {
        this.$http.delete(this.deleteLink + id).then(response => {
          if (response.data == "deleted") {
            $("#" + id).hide();
          }
        });
      });
    },
    editAd: function(id) {
      this.$router.push({ path: "editad", query: { id: id } });
    }
  }
};
</script>


<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
td i {
  font-size: 24px;
  margin-right: 24px;
}
</style>
